<!-- INFORMATION FOR GOVERNMENT MONITORING PURPOSES -->
{% if div_id == 'government_monitoring-details' %}
<div class="tab-pane fade show active" id="government_monitoring-details" role="tabpanel" aria-labelledby="government_monitoring_list">
{% else %}
<div class="tab-pane fade " id="government_monitoring-details" role="tabpanel" aria-labelledby="government_monitoring_list">

{% endif %}
      <!-- Section Header -->
    <div class="d-flex justify-content-between section-header">
       <span class="section-title">Information For Government Monitoring Purposes</span>
    </div>
    <!-- ./Section Header -->

    <!-- Tabs Section Body -->
    <div class="card mt-2">
       <div class="card-body tab-overflow">     

             <!-- -->
                <!-- <div class="card-header">
                   <span>
                      <i class="fas fa-exclamation-circle mr-1"></i>
                      Type Of Mortgage
                   </span>
                   <span></span>
                </div> -->
                <div class="p-2">
                   <p>The following information is requested by the Federal Government for certain types of loans related to a dwelling in order to monitor the lender's compliance with equal creditopportunity, fair housing and home mortgage disclosure laws.   You are not required to furnish this information, but are encouraged to do so.</p>
                   <p>The law provides that a Lender maynot discriminate either on the basis of this information, or on whether you choose to furnish it.  If you furnish the information, please provide both ethnicity and race.</p>
                   <p>For race, youmay check more than one designation.  If you do not furnish ethnicity, race, or sex, under Federal regulations, this lender is required to note the information on the basis of visualobservation and surname if you have made this application in person.  If you do not wish to furnish the information, please check the box below.  (Lender must review the above material to assure that the disclosures satisfy all requirements to which the lender is subject under applicable state law for the particular type of loan applied for.)</p>
             
                   <div class="row">
                      <div class="col-6">
                         <div class="card">
                            <div class="card-body">
                               <div class="row">
                                  <div class="col-6">
                                     <div class="form-group regular">
                                        <label class="label">Borrower</label>
                                        <input type="checkbox" class="form-control">
                                        <label class="ml-1">I do not wish to furnish this information</label>
                                     </div>
                                  </div>
                               </div>

                               <div class="row">
                                  <div class="col-8">
                                     <div class="form-group regular">
                                        <label class="label">Ethnicity</label>
                                        <span class="d-flex justifiy-around">
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>I do not wish to furnish this information</label>
                                           </span>
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>Not Hispanic or Latino</label>
                                           </span>
                                        </span>
                                     </div>
                                  </div>
                            
                                  <div class="col-8">
                                     <div class="form-group regular">
                                        <label class="label">Race</label>
                                        <div>
                                           <div class="d-flex justifiy-around">
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>American Indian orAlaska Native</label>
                                              </span>
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>Asian</label>
                                              </span>
                                           </div>
                                           <div class="d-flex justifiy-around">
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>Black orAfrican American</label>
                                              </span>
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>Native Hawaiian or Other Pacific Island</label>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="row">
                                  <div class="col-4">
                                     <div class="form-group regular">
                                        <label class="label">Sex</label>
                                        <span class="d-flex justifiy-around">
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>Female</label>
                                           </span>
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>Male</label>
                                           </span>
                                        </span>
                                     </div>
                                  </div>

                               </div>
                            </div>
                         </div>
                      </div>
                      <div class="col-6">
                         <div class="card">
                            <div class="card-body">
                               <div class="row">
                                  <div class="col-6">
                                     <div class="form-group regular">
                                        <label class="label">Co-Borrower</label>
                                        <input type="checkbox" class="form-control">
                                        <label class="ml-1">I do not wish to furnish this information</label>
                                     </div>
                                  </div>
                               </div>

                               <div class="row">
                                  <div class="col-8">
                                     <div class="form-group regular">
                                        <label class="label">Ethnicity</label>
                                        <span class="d-flex justifiy-around">
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>I do not wish to furnish this information</label>
                                           </span>
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>Not Hispanic or Latino</label>
                                           </span>
                                        </span>
                                     </div>
                                  </div>
                            
                                  <div class="col-8">
                                     <div class="form-group regular">
                                        <label class="label">Race</label>
                                        <div>
                                           <div class="d-flex justifiy-around">
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>American Indian orAlaska Native</label>
                                              </span>
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>Asian</label>
                                              </span>
                                           </div>
                                           <div class="d-flex justifiy-around">
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>Black orAfrican American</label>
                                              </span>
                                              <span class="d-flex">
                                                 <input type="checkbox" class="form-control">
                                                 <label>Native Hawaiian or Other Pacific Island</label>
                                              </span>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </div>
                               <div class="row">
                                  <div class="col-4">
                                     <div class="form-group regular">
                                        <label class="label">Sex</label>
                                        <span class="d-flex justifiy-around">
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>Female</label>
                                           </span>
                                           <span class="d-flex">
                                              <input type="checkbox" class="form-control">
                                              <label>Male</label>
                                           </span>
                                        </span>
                                     </div>
                                  </div>

                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             <!-- ./ -->                      
             
       </div>
    </div>
    <!-- ./Tabs Section Body -->                  
 </div>
 <!-- ./INFORMATION FOR GOVERNMENT MONITORING PURPOSES -->