 <!-- #acknowledgement_agreement-details -->
 <div class="tab-pane fade" id="acknowledgement_agreement-details" role="tabpanel" aria-labelledby="acknowledgement_agreement_list">
    <!-- Section Header -->
    <div class="d-flex justify-content-between section-header">
       <span class="section-title">Acknowledgement And Agreement</span>
    </div>
    <!-- ./Section Header -->

    <!-- Tabs Section Body -->
    <div class="card mt-2">
       <div class="card-body tab-overflow">     

             <!-- -->
                <!-- <div class="card-header">
                   <span>
                      <i class="fas fa-exclamation-circle mr-1"></i>
                      Type Of Mortgage
                   </span>
                   <span></span>
                </div> -->
                <div class="p-2">
                   <p>Each of the undersigned specifically represents to Lender and to Lender's actual or potential agents, brokers, processors, attorneys, insurers, servicers, successors and assigns andagrees and acknowledges that:
                      <br/> (1) the information provided in this application is true and correct as of the date set forth opposite my signature and that any intentional or negligent mis-representation of this information contained in this application may result in civil liability, including monetary damages, to any person who may suffer any loss due to reliance upon anymisrepresentation that I have made on this application, and/or in criminal penalties including, but not limited to, fine or imprisonment or both under the provisions of Title 18, United StatesCode, Sec. 1001, et seq. 
                      <br/> (2) the loan requested pursuant to this application (the "Loan") will be secured by a mortgage or deed of trust on the property described in this application 
                      <br/> (3) theproperty will not be used for any illegal or prohibited purpose or use
                      <br/> (4) all statements made in this application are made for the purpose of obtaining a residential mortgage loan
                      <br/> (5) theproperty will be occupied as indicated in this application
                      <br/> (6) the Lender, its servicers, successors or assigns may retain the original and/or an electronic record of this application, whetheror not the loan is approved
                      <br/> (7) the Lender and its agents, brokers, insurers, servicers, successors and assigns may continuously rely on the information contained in the application, andI am obligated to amend and/or supplement the information provided in this application if any of the material facts that I have represented herein should change prior to closing of theLoan
                      <br/> (8) in the event that my payments on the Loan become delinquent, the Lender, its servicers, successors, or assigns may, in addition to any other rights and remedies that it mayhave relating to such delinquency, report my name and account information to one or more consumer credit reporting agencies
                      <br/> (9) ownership of the Loan and/or administration of the Loanaccount may be transferred with such notice as may be required by law
                      <br/> (10) neither Lender nor its agents, brokers, insurers, servicers, successors or assigns has made any representa- tion or warranty, express or implied, to me regarding the property or the condition or value of the property
                      <br/> (11) my transmission of this application as an "electronic record" containing my "electronic signature," as those terms are defined in applicable federal and/or state laws (excluding audio and video recordings), or my facsimile transmission of this application containing a facsimile of my signature, shall be as effective, enforceable and valid as if a paper version of this application were delivered containing my original written signature.</p>
                   <p><b>Acknowledgement</b><br/>
                      Each of the undersigned hereby acknowledges that any owner of the Loan, its servicers, successors and assigns, may verify or reverify any informationcontained in this application or obtain any information or data relating to the Loan, for any legitimate purpose through any source, including a source named in this applicationor a consumer reporting agency.</p>
                      <p><b>Right to Receive Copy of Appraisal</b> <br/>I/We have the right to a copy of the appraisal report used in connection with this application for credit. To obtain a copy, I/we must sendCreditor a written request at the mailing address Creditor has provided.Creditor must hear from us no later than <input type="number" class="form-control" style="width:70px;display: initial;" readonly> days after Creditor notifies me/us about the action takenon this application, or I/we withdraw this application</p>
                   <p><b>If you would like a copy of the appraisal report, contact</b><br/>
                      C2 Financial Corporation <br/>10509 Vista Sorrento Pkwy #200 <br/> San Diego, CA 92121
                   </p>
                   <div class="row">
                      <div class="col-6">
                         <div class="card">
                            <div class="card-body d-flex justify-content-around" style="min-height: 100px;">
                               <p><b>Borrower's Signature</b></p>
                               <p><b>Date</b></p>
                            </div>
                         </div>
                      </div>
                      <div class="col-6">
                         <div class="card">
                            <div class="card-body d-flex justify-content-around" style="min-height: 100px;">
                               <p><b>Co-Borrower's Signature</b></p>
                               <p><b>Date</b></p>
                            </div>
                         </div>
                      </div>
                   </div>
             </div>
             <!-- ./ -->                      
             
       </div>
    </div>
    <!-- ./Tabs Section Body -->                  
 </div>
 <!-- ./#acknowledgement_agreement-details -->