{% if div_id == 'password-details' %}
<!-- Mortage  Details -->
<div class="tab-pane fade active show " id="password-details" role="tabpanel" aria-labelledby="password_detail">
{% else %}
<div class="tab-pane fade" id="password-details" role="tabpanel" aria-labelledby="password_detail">
{% endif %}
	<!-- Section Header -->
	<div class="d-flex justify-content-between section-header"> 
      <span class="section-title">
         Manage Password
      </span>
	</div>
	<!-- ./Section Header -->
	<!-- Tabs Section Body -->
	<div class="card mt-2">
		<div class="card-body">
			<div class="p-2">
				<form method="POST" action="" id="id_password_form">
					<div class="row">
						<div class="col-4">
							<div class="form-group">
                        <label class="label">Vendor</label>
                        {{ form.password_name}}
                     </div>
						</div>
						<div class="col-4">
							<div class="form-group no-btn">
                        <label class="label">Type</label>
                        {{form.password_type}}
                     </div>
						</div>
						<div class="col-4">
							<div class="form-group">
                        <label class="label">User Name</label>
                        {{ form.user_name}}
                     </div>
						</div>
						<div class="col-4">
							<div class="form-group">
                        <label class="label">User Password</label>
                        {{form.user_password}}
                     </div>
						</div>
						<div class="col-4">
							<div class="form-group">
                        <label class="label">Url</label>
                        {{ form.user_password_url}}
                     </div>
						</div>
						<div class="col-4 mb-2">
							<div class="text-right">
								<button type="button" class="btn btn-primary btn-sm add_password"> <i class="fas fa-plus" aria-hidden="true"></i>
                           Add
                        </button>
							</div>
						</div>
						<div class="col-12">
							<div class="table-style-three">
								<table>
									<tr>
										<th>#</th>
										<th>Vendor</th>
										<th>Type</th>
										<th>User Name</th>
										<th>Password</th>
										<th>Url</th>
										<th>Action</th>
									</tr>
									<tbody id="password_table">
                              
                           </tbody>
								</table>
							</div>
						</div>
						<div class="col-12 mt-2">
							<div class="text-center">
								<button class="btn btn-success btn-sm"> <i class="fas fa-check" aria-hidden="true"></i>
                           Submit
                        </button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- ./Tabs Section Body -->
</div>
<!-- ./Mortage Details -->

<script>
    $(document).ready(function(){
        rowCount=0;
        {% if detail_file_password_record != None %}
         {% for file_password in detail_file_password_record %}
            var id_password_name = "<input type='text' class='form-control' name='user_password_name_array[]'  value='{{file_password.password_name}}'><input type='hidden' name='manage_password_ids' value='{{ file_password.id }}'>";
            var id_password_type = "{{file_password.password_type.password_type_title}}" + "<input type='hidden' class='form-control' name='user_password_type_array[]' value='{{file_password.password_type.id}}'>";
            var id_user_name = "<input type='text' class='form-control' name='user_name_array[]' value='{{file_password.user_name}}'>";
            var id_user_password = "<input type='text' class='form-control' name='user_password_array[]' value='{{file_password.password}}'>";
            var id_user_password_url = "<input type='text' class='form-control' name='user_password_url_array[]' value='{{file_password.url}}'>";
            var remove_button = '<button type="button" class="remove_manage_password btn btn-outline-danger btn-sm mr-2"><i class="fa fa-minus "></i> <small> Remove</small></button>';
            var row = "<tr id='manage_password_{{ file_password.id }}'>";
            var row = row + "<th scope='row'>" + rowCount + "</th>";
            var row = row + "<td>" + id_password_name + "</td>";
            var row = row + "<td>" + id_password_type + "</td>";
            var row = row + "<td>" + id_user_name + "</td>";
            var row = row + "<td>" + id_user_password + "</td>";
            var row = row + "<td>" + id_user_password_url + "</td>";
            var row = row + "<td>" + remove_button + "</td> ";
            var row = row + "</tr>";
            $('#password_table').append(row);
            rowCount++;        

         {% endfor %}
        {% endif %}


        $('.add_password').click(function() {

               var id_password_name_val = $("#id_password_name").val();
               var id_password_type_val = $("#id_password_type").val();
               var id_user_name_val= $("#id_user_name").val();
               var id_user_password_val = $("#id_user_password").val();
               var id_user_password_url_val = $("#id_user_password_url").val();
               var rowCount_val = $('#password_table tr').length + 1;
               var id_password_type_text = $("#id_password_type option:selected").text();
               if(id_password_name_val.trim().length > 0 && id_password_type_val.trim().length > 0 && id_user_name_val.trim().length > 0 && id_user_password_val.trim().length > 0) {
                  $.ajax({
                     url: "{% url 'add_update_manage_password' %}",
                     data: {
                        'file_id': "{{ file_master.id }}",
                        'password_name': id_password_name_val,
                        'password_type': id_password_type_val,
                        'user_name': id_user_name_val,
                        'user_password': id_user_password_val,
                        'user_password_url':id_user_password_url_val
                     }, 
                     success: function (data) {
                        var id_password_name = "<input type='text' class='form-control' name='user_password_name_array[]' required value='" + id_password_name_val + "'><input type='hidden' name='manage_password_ids' value='" + data.manage_password_id + "'>";
                        var id_password_type = id_password_type_text + "<input type='hidden' class='form-control' name='user_password_type_array[]' required value='" + id_password_type_val + "'>";
                        var id_user_name = "<input type='text' class='form-control' name='user_name_array[]' required value='" + id_user_name_val + "'>";
                        var id_user_password = "<input type='text' class='form-control' name='user_password_array[]' required value='" + id_user_password_val + "'>";
                        var id_user_password_url = "<input type='text' class='form-control' name='user_password_url_array[]' required value='" + id_user_password_url_val   + "'>";
                        var remove_button = '<button type="button" class="remove_manage_password btn btn-outline-danger btn-sm mr-2"><i class="fa fa-minus "></i> <small> Remove</small></button>';
                        var row = "<tr id='manage_password_"+data.manage_password_id+"'>";
                        var row = row + "<th scope='row'>" + rowCount_val + "</th>";
                        var row = row + "<td>" + id_password_name + "</td>";
                        var row = row + "<td>" + id_password_type + "</td>";
                        var row = row + "<td>" + id_user_name + "</td>";
                        var row = row + "<td>" + id_user_password + "</td>";
                        var row = row + "<td>" + id_user_password_url + "</td>";
                        var row = row + "<td>" + remove_button + "</td> ";
                        var row = row + "</tr>";
                        $('#password_table').append(row);
                        $("#id_password_name").val('');
                        $("#id_password_type").val('');
                        $("#id_user_name").val('');
                        $("#id_user_password").val('');
                     }
                  }); 
               } else {
                   alert("Please enter All Password Details");
               }
           });
    });
</script>
<script>

   $(document).ready(function(){
      var token = '{{csrf_token}}';
      $("#id_password_form").on('submit', function (e) {
         e.preventDefault();
         $.ajax({
            headers: { "X-CSRFToken": token },
            type: "POST",
            url: "{% url 'update_manage_password_details' file_master.id %}",
            data: $('#id_password_form').serialize(),
            success: function (response) {
               window.location.href=window.location.href;
            }
         });
      });
      $(document).on('click', '.remove_manage_password', function() {
         var remove_manage_password_id = $(this).closest("tr").find("input[name='manage_password_ids']").val();
         console.log(remove_manage_password_id)
         $.ajax({
            url: "{% url 'remove_manage_password' %}",
            data: {
               'file_id': "{{ file_master.id }}",
               'remove_manage_password_id': remove_manage_password_id
            },
            success: function (data) {
               if (data.is_delete == 'success'){
                  $('#manage_password_'+ remove_manage_password_id +'').remove();
               }else{
                  alert('Something went wrong')
               }
               
            }
         });
      });
   });

</script>