   <!-- Sidebar Menus -->
   <!-- Loader  -->
<div class="loader">
    <img src="{% static 'includes/loader.svg' %}">
 </div>
 <!-- ./Loader  -->
   <section class="sidebar">
    <div class="sidebar-content">
       <ul class="list-group list-group-flush">
          <li class="list-group-item">
             <a href="#" class="nav-link dark">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
             </a>
          </li>
          <li class="list-group-item">
             <a href="/file/create/" class="nav-link dark new new_file">
                <i class="fa fa-plus-circle"></i>
                <span>New File</span>
             </a>
          </li>
          <li class="list-group-item">
             <a href="#" class="nav-link dark active">
                <i class="fa fa-tasks"></i>
                <span>Loan In Progress</span>
             </a>
          </li>
          <li class="list-group-item">
             <a href="#" class="nav-link dark">
                <i class="fa fa-file-invoice-dollar"></i>
                <span>Fundend</span>
             </a>
          </li>         
          <li class="list-group-item">
             <a href="#" class="nav-link dark">
                <i class="fas fa-chalkboard-teacher"></i>
                <span>Sent For Audit Broker</span>
             </a>
          </li>         
          <li class="list-group-item">
             <a href="#" class="nav-link dark">
                <i class="fa fa-unlock-alt"></i>
                <span>Manage Passowrds</span>
             </a>
          </li>         
          <li class="list-group-item">
             <a href="#" class="nav-link dark">
                <i class="fa fa-id-card"></i>
                <span>Manage Contacts</span>
             </a>
          </li>         
          <li class="list-group-item">
             <a href="#" class="nav-link dark">
                <i class="fas fa-file-excel"></i>
                <span>Cancelled</span>
             </a>
          </li>         
        </ul>
    </div>
 </section>
 <!-- ./Sidebar -->