<button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#importfile">
    <i class="fas fa-plus mr-2"></i>Import FNM File
</button>

<div class="modal fade" id="importfile" tabindex="-1" role="dialog" aria-labelledby="ImportFileModalLabel"
    aria-hidden="true">
    <form method="post" enctype="multipart/form-data" action="{% url 'import_file' %}">
        {% csrf_token %}
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title" id="ImportFileModalLabel">Please Select the File</div>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="margin-right: 10%;">
                    <input type="file" name="myfile" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-danger btn-sm" data-dismiss="modal"><i class="fas fa-times-circle mr-2"></i>Close</button>
                    <button type="submit" class="btn btn-outline-success btn-sm"><i class="fas fa-check-circle mr-2"></i>Upload</button>
                </div>
            </div>
        </div>
    </form>
</div>