<!DOCTYPE html>
<html>
    {% load static %}
    {% block head %}
          {% include "superadmin/head.html" %}
        {% endblock %}
<body>
{% block nav %}
  {% include "superadmin/nav.html" %}
{% endblock %}
{% block sidebar %}
  {% include "superadmin/sidebar.html" %}
{% endblock %}
   <div class="content px-2">
      <div class="container-fluid ">

         <a href="/company/create/" class="btn  float-right  text-white bg-success "title="Create Company" > 
          <i class=" fa fa-plus "></i> Create
            Compnay
         </a>
         <h1 class=" main-heading py-0 mb-0 ">Company List Lists</h1>


         <hr class=" my-3">


            <div class="row">
               <div class="col-md-12">
                  <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div><select class=" form-control w-auto d-inline border-0">

                              <option>10</option>

                           </select> records per page found </div>


                        <div class="position-relative" style=" ">
                           <input type="search" class="form-control d-inline w-auto search-box rounded-20px"
                              placeholder="search here..">
                           <span class="mr-2">
                              <i class="position-absolute fa fa-search" style="right: 40px;
               top: 10px;"></i>
                           </span> <span><a href="#" title="Filter"><i class="text-muted fa fa-filter fa-2x"
                                    aria-hidden="true"></i></a></span>
                        </div>

                     </div>
                     <div class="card-body pb-1">


                        <div class="d-flex pb-3 justify-content-between">
                           <span class="text-danger"> </span><span class=" ">
                              <div class="form-check form-check-inline adv">
                                 <input class="form-check-input mr-3" type="checkbox" id=" " value="option1">
                                 <label class="form-check-label" for="inlineCheckbox1">Advanced Search</label>
                              </div>
                              <div class="form-check form-check-inline adv">
                                 <input class="form-check-input mr-3" type="checkbox" id="inlineCheckbox2"
                                    value="option2">
                                 <label class="form-check-label" for="inlineCheckbox2">Contact Search</label>
                              </div>
                           </span>

                        </div>
                        <div class="scrollable">
                           <div class="table-responsive">
                              <table class="table table-bordered ">
                                 <thead>
                                    <tr>

                                       <th>Sno.</th>
                                       <th>Company Code </th>
                                       <th>Company Name</th>
                                       <th>Active</th>
                                       <th> Created By</th>
                                       <th>Created Date</th>
                                       <th>Actions</th>

                                    </tr>
                                 </thead>
                                 <tbody>
                                  {% for company in company_master%}
                                  <tr>
                                    <td>
                                      {{ forloop.counter }}
                                    </td>
                                    <td>
                                      {{company.company_code}}
                                    </td>
                                    <td>
                                      {{company.company_name}}
                                    </td>
                                    <td>
                                      {{company.is_active}}
                                    </td>
                                    <td>
                                      {{company.created_by}}
                                    </td>
                                    <td>
                                      {{company.created_date}}
                                    </td>
                                    
                                      <td>
                                        <a href="/user/edit/{{user.id}}" title="Edit">
                                          <i class="fa fa-pencil"></i>
                                        </a>
                                      </td>
                                    
                                  </tr>
                                  {% endfor %}

                                 </tbody>
                              </table>
                           </div>
                        </div>


                     </div>
                     <div class="card-footer justify-content-between align-items-center d-flex pb-0"> <span>Showing <b>1
                              to 5 of 5
                           </b>Users
                        </span>

                        <nav aria-label="Page navigation example">
                           <ul class="pagination pagination-sm">
                              <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                              <li class="page-item active"><a class="page-link" href="#">1</a></li>
                              <li class="page-item"><a class="page-link" href="#">2</a></li>
                              <li class="page-item"><a class="page-link" href="#">3</a></li>
                              <li class="page-item"><a class="page-link" href="#">Next</a></li>
                           </ul>
                        </nav>
                     </div>
                  </div>

               </div>
            </div>

      </div>
      <footer class="border-top text-center   mt-3 py-2 ">
         <p>All rights reserved. Shore Capital Mortage</p>

      </footer>
   </div>


</body>

</html>