<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    {% block head %}
      {% include "head.html" %}
    {% endblock %}    
  </head>
  
  <body class="login-bg">
    
    <div class="row m-0">
      <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12 mx-auto mt-5">
        <div class="card card-body p-5">
          
          <div class="text-center mb-3">
            <a class="navbar-brand dark">
              <i class="fas fa-line text-dark" aria-hidden="true"></i>
              <b>ELLIE</b>TRAC  
            </a>
          </div>
          
          <div class="d-flex justify-content-center my-2">
            <a class="btn btn-outline-info" href="/superadmin/"><i class="fas fa-user-shield mr-1"></i>Super Admin Login</a>
          </div>
          
          <div class="my-3">
            <div class="hr">OR</div>
          </div>
          
          <div class="d-flex justify-content-center my-2">
            <div class="dropdown">
              <button class="btn btn-outline-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-users mr-1"></i>Select Company
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for company_detail in company_list %}
                  <a href="/{{company_detail.company_code}}" class="dropdown-item">{{ company_detail.company_name }}</a>
                {% endfor %}
              </div>
            </div>
          </div>
           
        </div>
      </div>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   
  </body>
</html>