<!DOCTYPE html>
<html>
   {% load static %}
   <head>
      {% block head %}
        {% include "head.html" %}
      {% endblock %}
   </head>        
   <body class="active bg-light">
      {% block nav %}
        {% include "nav.html" %}
      {% endblock %}
      
      <div class="d-flex">
         {% block sidebar %}
           {% include "sidebar.html" %}
         {% endblock %}
         
         
         <!-- Main Section -->
         <main class="">
            
            <!-- Section Menu -->
            <div class="row"> 
               <!-- Content -->
               <div class="col-12 px-3 py-2">
                 <!-- Section Header -->
                 <div class="d-flex justify-content-between section-header">
                    <span class="section-title">Create Group</span>                           
                 </div>
                 <!-- ./Section Header -->

                 <!-- Tabs Section Body -->
                 <div class="card mt-2">
                    <div class="card-body">
                       <div class="p-2">
                        <form action="" method="POST">
                            {% if form.errors %}
                              {% for field in form %}
                                {% for error in field.errors %}
                                  <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                  </div>
                                {% endfor %}
                              {% endfor %}
                              {% for error in form.non_field_errors %}
                                <div class="alert alert-danger">
                                  <strong>{{ error|escape }}</strong>
                                </div>
                              {% endfor %}
                            {% endif %}
                            {% csrf_token %}
                            
                            <div class="row">
                              
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                  <div class="input-group">
                                    <label>Group Name</label>
                                    <input type="text" class="form-control" value="{{ group_obj.group_name}}">
                                  </div>
                                </div>
                                
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                  <div class="input-group d-flex justify-content-center">
                                    <label>Active</label>
                                    <div class="d-flex justify-content-around align-items-center">
                                      {% for choice in form.is_active %}
                                      <label class="d-inline-flex align-items-center">
                                        {{ choice.tag }} {{ choice.choice_label }}
                                      </label>
                                      {% endfor %}
                                    </div>
                                  </div>
                                </div>
                                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                  <div class="input-group">
                                     <label>User </label>
                                     <input type="hidden" name="company_id" value="{{company_id}}">
                                      <select class="form-control select" id="userlist" multiple name="userlist[]">
                                         {% for user in user_list %}
                                         <option value="{{user.user_id.id}}" >{{user.user_id.user_name}}</option>
                                         {% endfor %}
                                      </select>
                                  </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right mt-3">
                                      <button class="btn btn-outline-success btn-sm" type="submit">
                                        <i class="fas fa-user-plus mr-2"></i>Create Group
                                      </button>
                                </div>
                            </div>
                        </form>               
                      </div>
                    </div>
                 </div>
                 <!-- ./Tabs Section Body -->   
               </div>
               <!-- ./Content -->
            </div>
       
            {% block footer %}
              {% include "footer.html" %}
            {% endblock %}
            		 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script> 
            <!-- Custom Script -->
            <script>
              $(function() {
                $('select').selectpicker();
              });
              $(document).ready(function(){
                $('input:radio[name="is_active"]').filter('[value="{{group_obj.status}}"]').attr('checked', true);
                {% for user_group in user_grp_map_obj %}
                  $('#userlist option[value={{ user_group.user_id.id }}]').attr('selected','selected');

                {% endfor %}
                
              });
           </script>
        </body>
   </html>