
{% load static %}
<nav class="navbar fixed-top navbar-expand-md navbar-light shadow">
        <div class="container-fluid">
           <a class="navbar-brand text-dark " href="/">
              <b> SHORE</b> Capital
           </a>
  
  
  
           <!-- <div class="mx-auto">
  
              <span class="position-relative ">
                 <input type="search " placeholder="Search in a page"
                    class="search-textfield  form-control d-inline w-auto rounded-20px  ">
  
                 <i class="fa fa-search position-absolute" style="right:10px; top:2px"></i></span>
           </div> -->
           <ul class="navbar-nav align-items-center ">
  
  
              <li class="nav-item"><a href=" #" class="nav-link"><i class="fa fa-bell mr-2 "
                       style="font-size: 22px;"></i></a></li>
                       <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span></span>
                                 <img
                                    src="https://demo.w3layouts.com/demos_new/template_demo/21-02-2020/collective-admin-panel-liberty-demo_Free/1892622516/web/assets/images/profileimg.jpg"
                                    alt="" width="28" class="rounded-circle ml-2"></span></a>
                              <div class="dropdown-menu py-1">
                                 <a class="dropdown-item" href="/logout/"><i class="fa fa-sign-out pr-2 " aria-hidden="true"></i> Log
                                    Out</a>
               
                              </div>
                           </li>
  
           </ul>
  
        </div>
     </nav>