<nav class="navbar navbar-expand-md navbar-light sticky-top custom-navbar">
        <div class="container-fluid"> <a class="navbar-brand text-dark " href="/">
              <i class="fa fa-line-chart "></i>
              <b> SHORE</b> Capital </a>
  
           <a class="nav-link  text-muted" href="/dashboard/"><i class="fa fa-home text-muted"></i>
              Home</a>
  
           <button class="navbar-toggler navbar-toggler-right border-0" type="button" data-toggle="collapse"
              data-target="#navbar4">
              <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbar4">
              <div class="mx-auto">
                 <ul class="navbar-nav mx-auto top-menu">
  
                    <li class="nav-item"> <a class="nav-link active" href="#">Loan Details</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Logs</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Processor Assists</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Date Tracking</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="#">Documents</a> </li>
                 </ul>
              </div>
              <ul class="navbar-nav align-items-center ">
  
  
                    <li class="nav-item"><a href=" #" class="nav-link"><i class="fa fa-bell mr-2 "
                             style="font-size: 22px;"></i></a></li>
                             <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#"><span></span>
                                       <img
                                          src="https://demo.w3layouts.com/demos_new/template_demo/21-02-2020/collective-admin-panel-liberty-demo_Free/1892622516/web/assets/images/profileimg.jpg"
                                          alt="" width="28" class="rounded-circle ml-2"></span></a>
                                    <div class="dropdown-menu py-1">
                                       <a class="dropdown-item" href="/logout/"><i class="fa fa-sign-out pr-2 " aria-hidden="true"></i> Log
                                          Out</a>
                     
                                    </div>
                                 </li>
        
                 </ul>
              <div>
              </div>
           </div>
        </div>
     </nav>
  